/* styles.css */

/* Light Theme */
.light-theme {
  background-color: #ffffff; /* Light background color */
  color: #333333; /* Dark text color */
}

/* Dark Theme */
.dark-theme {
  background-color: #333333; /* Dark background color */
  color: #ffffff; /* Light text color */
}
